@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

header {
    background-color: #000;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.vertical-links{
    display:none;
}
.navigation a{

    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #fff;
}

.video-container {
    z-index: -100;
    width:100%;
    height:75%;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    }
    
  
  #bgvid{
      width: 100%;
      height: 100vh;
      object-fit: cover;
      left: 0;
      top: 0;
      position: fixed;
      z-index: -10;
  }

  section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('images/video (1080p).mp4');
    background-color:  rgba(0, 0, 0, 0.800);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.cards{
    background-color: #fff;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}
.projects {
    background-color: #000016;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}
.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
    margin-bottom: 30px;
    font-size: 2em;
}

.contact .info a {
    font-size: 1.1em;
}

.contact-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.7em 2em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.contact-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation{
        display:none;
    }
    /* Style the menu icon with two bars (initially a hamburger menu) */
.menu-icon {
    display: block;
    cursor: pointer;
    color: #fff;
    margin: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate bars to form an 'x' when the menu is open */
.menu-icon.active .bar1 {
    transform: rotate(-90deg) translate(-5px, 6px);
}

.menu-icon.active .bar2 {
    transform: rotate(180deg) translate(-5px, 6px);
}

/* Style the vertical links section (for small screens) */
.vertical-links {
    display: none;
    position: absolute;
    top: 60px;
    right:0px;
    width: 20%;
    height: 100vh; /* Set the height to 100% of the viewport height */
    background: #000;
    border-radius: 5px;
    flex-direction: column; /* Arrange links vertically */
}

.vertical-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    font-weight: bold; /* Make the text bold */
    margin: 5px 0; /* Add margin to the top and bottom */
    transition: background-color 0.3s;
}

.vertical-links i {
    margin-right: 10px; /* Adjust the spacing as needed */
}

/* Change background color on hover */
.vertical-links a:hover {
    background-color: #333;
}

/* Show the vertical links section when the menu is active */
.menu-icon.active + .vertical-links {
    display: flex;

}
/* Default styles for body and header */
body, header {
    width: 100%;
  }
  
  /* Style for vertical-links when menu is open */
  .vertical-links.active {
    width: 20%;
  }
  
  /* Style for body content when menu is open */
  body.active-content {
    width: 80%;
  }
  
    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}




/* Add these media queries for the specified screen widths */
@media (max-width: 641px) {
    /* Adjust the header padding */
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }

    header {
        padding: 12px 20px;
    }

    /* Hide the navigation */
    .navigation {
        display: none;
    }

    /* Style the menu icon with two bars (initially a hamburger menu) */
    .menu-icon {
        display: block;
        cursor: pointer;
        color: #fff;
        margin: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
    }

    .bar {
        width: 30px;
        height: 4px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Rotate bars to form an 'x' when the menu is open */
    .menu-icon.active .bar1 {
        transform: rotate(-90deg) translate(-5px, 6px);
    }

    .menu-icon.active .bar2 {
        transform: rotate(180deg) translate(-5px, 6px);
    }

    /* Style the vertical links section (for small screens) */
    .vertical-links {
        display: none;
        position: absolute;
        top: 50px;
        right: 0px;
        width: 20%;
        height: 100vh;
        background: #000;
        border-radius: 5px;
        flex-direction: column;
    }

    .vertical-links a {
        display: block;
        text-align: center;
        padding: 10px 0;
        font-size: 1.1em;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        margin: 5px 0;
        transition: background-color 0.3s;
    }

    .vertical-links i {
        margin-right: 10px;
    }

    /* Change background color on hover */
    .vertical-links a:hover {
        background-color: #333;
    }

    /* Show the vertical links section when the menu is active */
    .menu-icon.active + .vertical-links {
        display: flex;
    }
}

@media (max-width: 300px) {
    body {
        font-size: 10px;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }

    /* Adjust the size of cards */
    .content .card {
        width: 100%; /* Expand the cards to full width */
        margin: 10px 0; /* Adjust margin for spacing */
    }

    /* Adjust the size of the icon in the card */
    .card .icon {
        font-size: 4em;
    }

    /* Adjust the size of the info in the card */
    .info h3 {
        font-size: 1em;
    }

    /* Adjust the size of project cards */
    .projects .content .project-card {
        width: 100%; /* Expand the project cards to full width */
        margin: 10px 0; /* Adjust margin for spacing */
    }

    /* Adjust the size of the project card's icon */
    .project-card .icon {
        font-size: 4em;
    }

    /* Adjust the size of project info in the project card */
    .project-info h3 {
        font-size: 1em;
    }
    .vertical-links.active .projects .content .project-card {
        width: 100%;
        margin: 10px 0;
    }

    /* Adjust the size of the project card's icon when the toggle menu is open */
    .vertical-links.active .project-card .icon {
        font-size: 4em;
    }

    /* Adjust the size of project info in the project card when the toggle menu is open */
    .vertical-links.active .project-info h3 {
        font-size: 1em;
    }
}


.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
